In [5]:
import math
from functools import reduce
import random
from functools import partial
import string
import re
import urllib
import requests

In [6]:
# From a pre-stored fibonacci list, a given number has to be checked if it's a fibonacci number

fib_list = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]
fib_check = lambda x : True if x in fib_list else False

In [7]:
fib_check(55)

True

In [8]:
# From 2 lists, even number from 1st list and odd number from 2nd list should be added...using list comprehension, lambda/filter can also be used
def even_odd(l1, l2):
    if len(l1) == 0:
        raise ValueError('list1 cannot be empty')
    if len(l2) == 0:
        raise ValueError('list2 cannot be empty')
    else:
        return[x + y for x, y in zip(l1, l2) if x % 2 ==0 and y % 2 != 0]

In [9]:
even_odd([2,4,6,9,10,22,33], [12,4,7,16,15,25,26])

[13, 25, 47]

In [10]:
# Vowels should be stripped from a given string using list comprehension
def strip_vowel_str(str):
    vowels = ['a', 'e', 'i', 'o', 'u']
    if len(str) <= 1:
        raise ValueError("string should have more than one character")

    else:
        return "".join([x for x in str if x not in vowels])

In [11]:
strip_vowel_str('python')

'pythn'

In [12]:
# RelU function should be defined using list comprehension

def relu_activation(l):
    if len(l) == 0:
        raise ValueError("atleast one value must be entered in the list")
    for i in l:
        if type(i) not in (int, float):
            raise TypeError("only ints or floats are allowed")
        else:
            pass
    else:
        return[0 if x < 0 else x for x in l]

In [13]:
relu_activation([-3, -2, -1, 0, 1, 2, 3.5])

[0, 0, 0, 0, 1, 2, 3.5]

In [14]:
# sigmoid function should be defined using list comprehension
def sigmoid_activation(l):
    if len(l) == 0:
        raise ValueError("atleast one value must be entered in the list")
    for i in l:
        if type(i) not in (int, float):
            raise TypeError("only ints or floats are allowed")
        else:
            pass
    else:
        return[round(1/(1+math.exp(-x)),2) for x in l]

In [15]:
sigmoid_activation([-3, -2, -1, 0, 1, 2, 3.5])

[0.05, 0.12, 0.27, 0.5, 0.73, 0.88, 0.97]

In [16]:
# function to shift the characters by 5 places
def shift_5_char(str):
    if len(str) <= 1:
        raise ValueError("string should have more than one character")
    else:
        str = str.lower()
        return "".join([chr(ord(x)+5) if (ord(x)+5) <=122 else chr(ord(x)+5-122+96) for x in str])

In [17]:
shift_5_char('abcde')

'fghij'

In [18]:
response = requests.get("https://raw.githubusercontent.com/RobertJGabriel/Google-profanity-words/master/list.txt")
data = response.text
data

def profane_filter(str):
    if len(str) <= 1:
        raise ValueError("string should have more than one character")
    else:
        return True if str.lower() in data else False

In [19]:
profane_filter('Fuck')

True

In [20]:
# Using reduce , lambda etc the even numbers in a list must be added.
def add_even_num(l):
    if len(l) == 0:
        raise ValueError("atleast one value must be entered in the list")
    for i in l:
        if type(i) != int:
            raise TypeError("only ints are allowed")
        else:
            pass
    sum = reduce(lambda a, b: a + b, filter(lambda a: (a % 2 == 0), l))
    return sum

In [21]:
add_even_num([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

30

In [22]:
# Using reduce, lambda etc the biggest ascii character in a given string must be found
def big_char_str(str):
    if len(str) <= 1:
        raise ValueError("string should have more than one character")
    else:
        result = reduce(lambda a, b: a if ord(a) > ord(b) else b, str)
        return result

In [23]:
big_char_str('Welcome')

'o'

In [24]:
# Using reduce, lambda function every third number must be added in a list
def add_third_num(l):
    if len(l) == 0:
        raise ValueError("atleast one value must be entered in the list")
    for i in l:
        if type(i) != int:
            raise TypeError("only ints are allowed")
        else:
            pass
    else:
        add_third_number = reduce(lambda a, b: a + b, l[2::3])
        return add_third_number

In [25]:
add_third_num([1, 2, 3, 4, 5, 6, 7, 8, 9])

18

In [31]:
# Using randint, random.choice and list comprehensions, 15 random KADDAADDDD number plates must be generated, where KA is fixed, D stands for a digit, and A stands for Capital alphabets
def num_plate (x= 'KA'):
    Alphabet = list(string.ascii_uppercase) 
    return [x+ str(random.randint(10,99))+str(random.choice(Alphabet))+str(random.choice(Alphabet))+str(random.randint(1000,9999)) for i in range(15)]

In [32]:
num_plate()

['KA92AS2921',
 'KA20QP7158',
 'KA58EX8982',
 'KA84TH6504',
 'KA68GO2190',
 'KA95BV7330',
 'KA67HD2961',
 'KA92CE9245',
 'KA65YK4525',
 'KA82NO4410',
 'KA48XM2996',
 'KA22VL1057',
 'KA72BQ7863',
 'KA12YO8742',
 'KA95PV3950']

In [33]:
# Using the above, we write a partial function such that 1000/9999 are hardcoded, but KA can be provided
from functools import partial
new_plate = partial(num_plate)

new_plate("DL")

['DL38EB5693',
 'DL67KX3103',
 'DL23PS7665',
 'DL19JZ3420',
 'DL85YP7458',
 'DL66SH8977',
 'DL83PP7638',
 'DL11JM3303',
 'DL62KO9992',
 'DL58SF5107',
 'DL60QD8606',
 'DL72ZN1294',
 'DL77TU3107',
 'DL43GK2299',
 'DL24GK7189']

In [34]:
new_plate("AP")

['AP78ZK5918',
 'AP76OI8046',
 'AP37YL4019',
 'AP71CM5897',
 'AP58DP9821',
 'AP61LV8406',
 'AP38KK5685',
 'AP25BI2632',
 'AP82ZY8979',
 'AP56TF9444',
 'AP32XN5584',
 'AP94PM5530',
 'AP58AA5050',
 'AP53CE7764',
 'AP92CR7665']