# pip install faker
calculate 
    1. largest blood type : count the highest appearing blood group in the faker list
    2. mean-current_location : mean on the current location
    3. oldest_person_age : old person age in the group form now
    4. average age: calculate the age of the person and find the avarage of it

In [63]:
from collections import namedtuple
from faker import Faker
import datetime
from time import perf_counter
from functools import wraps
import re
import random
import string
from datetime import date

In [56]:
fake = Faker()
fake.profile()

{'address': '711 Robert Gateway\nJuarezland, VT 65565',
 'birthdate': datetime.date(1955, 1, 25),
 'blood_group': 'B+',
 'company': 'Marquez LLC',
 'current_location': (Decimal('35.744340'), Decimal('59.033111')),
 'job': 'Secondary school teacher',
 'mail': 'timothygarcia@hotmail.com',
 'name': 'Rebecca Reed',
 'residence': '1954 Bowman Vista\nElizabethton, MA 82713',
 'sex': 'F',
 'ssn': '477-09-6167',
 'username': 'ncollins',
 'website': ['http://www.andrews.info/',
  'http://www.thomas-cline.biz/',
  'https://www.perez-werner.com/',
  'http://graham.com/']}

In [57]:
Profile = namedtuple('Profile', fake.profile().keys())

In [87]:
# dir(Profile)

In [59]:
Profile._fields

('job',
 'company',
 'ssn',
 'residence',
 'current_location',
 'blood_group',
 'website',
 'username',
 'name',
 'sex',
 'address',
 'mail',
 'birthdate')

In [61]:
#storing data in nametuple
x = Profile(**fake.profile())

In [62]:
x

Profile(job='Sport and exercise psychologist', company='Wilson, Smith and Villarreal', ssn='139-37-2492', residence='5998 Henry Green Apt. 211\nJonesborough, MT 50381', current_location=(Decimal('-34.064340'), Decimal('53.182687')), blood_group='A-', website=['https://www.smith.info/'], username='flarsen', name='James Logan', sex='M', address='776 Dakota Wells Suite 163\nWhitestad, DE 69184', mail='theresakim@gmail.com', birthdate=datetime.date(1984, 9, 29))

In [93]:
#time function to calculate the run time of a function
def timed(func):
    @wraps(func)
    def wrapper_timed(*args,**kwargs):
        start_time = perf_counter()
        value = func(*args,**kwargs)
        end_time = perf_counter()
        elapsed_time = (end_time-start_time)
        print('Run time: {0:.6f}s'.format(elapsed_time))
        return value
    return wrapper_timed

In [65]:
fake = Faker()

def generate_profiles_using_namedtuple(no_profiles: int): 
    """
    create a fake profiles using namedtuples
    """
    profiles = []
    Profile = namedtuple('Profile', fake.profile().keys())
    for i in range(no_profiles):
        profiles.append(Profile(**fake.profile()))
    return profiles

In [100]:
def generate_profiles_using_dictionary(no_profiles: int):
    """
    create a fake profiles using dictornary
    """
    profiles = []
    for i in range(no_profiles):
        profiles.append(fake.profile())
    return profiles

In [70]:
kk = generate_profiles_using_namedtuple(10)[0:2]

In [71]:
kk

[Profile(job='Radio producer', company='Spencer Group', ssn='305-95-9086', residence='647 Olson Plains\nLisabury, PA 10512', current_location=(Decimal('-44.8718055'), Decimal('-23.564506')), blood_group='A+', website=['https://hansen.com/', 'https://butler.biz/', 'http://www.brown.com/', 'http://miller.com/'], username='sarahwilson', name='Chad Ruiz', sex='M', address='671 Oneill Terrace Suite 891\nJulieberg, AL 85978', mail='mjames@yahoo.com', birthdate=datetime.date(1927, 2, 2)),
 Profile(job='Health and safety adviser', company='Gomez PLC', ssn='289-45-5182', residence='11513 Cynthia Dale Suite 628\nGarciaborough, MS 58337', current_location=(Decimal('41.5761975'), Decimal('-93.569459')), blood_group='B-', website=['https://huerta-nguyen.net/', 'https://www.ramirez.com/', 'http://ortiz.biz/', 'https://jensen.net/'], username='linda95', name='Mr. Joseph Garcia', sex='M', address='58546 Brian Motorway\nNew Taylor, NH 75083', mail='dianemiller@gmail.com', birthdate=datetime.date(1950, 6, 19))]

In [86]:
# generate_profiles_using_dictionary(5)

In [94]:
@timed
def calc_data_using_namedtuple() -> "namedtuple":
    """
    calculate the largest blood type, mean-current_location, 
    oldest_person_age and average age of a generated 1000 profiles using namedtuple
    """
    no_profiles = 10
    profiles = generate_profiles_using_namedtuple(no_profiles)
    date_today = datetime.date.today()
    blood_gp = dict()
    max_age = {'age': 0, 'profile': None}
    cur_loc_coord_sum = [0, 0]
    sum_ages = 0
    for profile in profiles:
        blood_gp[profile.blood_group] = blood_gp.get(profile.blood_group,0) + 1
        age = (date_today - profile.birthdate).days
        if  age > max_age['age']:
            max_age['age'] = age
            max_age['profile'] = profile
        cur_loc_coord_sum[0] += profile.current_location[0]
        cur_loc_coord_sum[1] += profile.current_location[1]
        sum_ages += int(age/365)

    data = namedtuple('data', 'largest_blood_type mean_current_location oldest_person average_age')
    bg_l = max(blood_gp, key=blood_gp.get)
    mean_current_location = (cur_loc_coord_sum[0]/no_profiles, cur_loc_coord_sum[1]/no_profiles)
    return data((bg_l, blood_gp[bg_l]), mean_current_location, (max_age['profile'], int(max_age['age']/365)), int(sum_ages/no_profiles))

In [95]:
calc_data_using_namedtuple()

Run time: 0.028542s

data(largest_blood_type=('B-', 4), mean_current_location=(Decimal('-22.1616343'), Decimal('-4.4899135')), oldest_person=(Profile(job='Environmental consultant', company='Rogers-Thompson', ssn='432-32-4595', residence='8820 Brett Street\nBryanstad, KS 14482', current_location=(Decimal('-50.2035265'), Decimal('-150.177199')), blood_group='AB-', website=['http://www.berger.biz/', 'https://www.green.biz/'], username='pwatkins', name='David Hudson', sex='M', address='USS Tran\nFPO AA 28567', mail='mingram@hotmail.com', birthdate=datetime.date(1915, 7, 23)), 106), average_age=69)

In [101]:
@timed
def calc_data_using_dictionary() -> "Dictionary":
    """
    calculate the largest blood type, mean-current_location, 
    oldest_person_age and average age of a generated 1000 profiles using dictionary
    
    """
    no_profiles = 10
    profiles = generate_profiles_using_dictionary(no_profiles)
    date_today = datetime.date.today()
    blood_gp = dict()
    max_age = {'age': 0, 'proflie': None}
    cur_loc_coord_sum = [0, 0]
    sum_ages = 0
    for profile in profiles:
        
        blood_gp[profile['blood_group']] = blood_gp.get(profile['blood_group'],0) + 1
        age = (date_today - profile['birthdate']).days
        if  age > max_age['age']:
            max_age['age'] = age
            max_age['profile'] = profile
        cur_loc_coord_sum[0] += profile['current_location'][0]
        cur_loc_coord_sum[1] += profile['current_location'][1]
        sum_ages += int(age/365)
    bg_l = max(blood_gp, key=blood_gp.get)
    mean_current_location = (cur_loc_coord_sum[0]/no_profiles, cur_loc_coord_sum[1]/no_profiles)
    return {'largest_blood_type': (bg_l, blood_gp[bg_l]), 'mean_current_location': mean_current_location, 'oldest_person': (max_age['profile'], int(max_age['age']/365)), 'average_age': int(sum_ages/no_profiles)}

In [102]:
calc_data_using_dictionary()

Run time: 0.021424s

{'average_age': 38,
 'largest_blood_type': ('A+', 3),
 'mean_current_location': (Decimal('-30.86849965'), Decimal('24.3751968')),
 'oldest_person': ({'address': '40978 Thomas Oval\nSouth Davidberg, HI 54038',
   'birthdate': datetime.date(1965, 8, 25),
   'blood_group': 'A+',
   'company': 'Byrd, Rodgers and Day',
   'current_location': (Decimal('-47.5821005'), Decimal('66.466220')),
   'job': 'Systems developer',
   'mail': 'hannahmiller@hotmail.com',
   'name': 'David Livingston',
   'residence': '7150 Tapia Inlet Suite 566\nNorth Benjaminberg, NC 55008',
   'sex': 'M',
   'ssn': '604-87-9789',
   'username': 'pittscheryl',
   'website': ['https://price-chavez.net/',
    'https://villanueva-ross.info/',
    'http://davenport.com/',
    'https://horton.com/']},
  55)}

In [103]:
def get_capitalized_letters(string):
    """Returns joined string if characters are upper case"""
    return ''.join(x for x in string if x.isupper())


def stock_market():
    """
    To create a fake stock data set for imaginary stock exchange for top 100 companies (name, symbol, open, high, close).
    Tasks_ToDo: Assign a random weight to all the companies. Calculate and show what value stock market started at, what was the highest value during the day and where did it end.
    """
    all_companies = []
    Stocks = namedtuple("Stocks", 'name symbol open high close company_weight')
    for _ in range(100):
        name = fake.company()
        open_ = round(random.uniform(41, 3999), 2)
        high_num = round(random.uniform(0.613, 1.4), 2)  # market is damn volatile
        high = open_ * high_num if high_num > 1.0 else open_
        close = random.uniform(open_ - random.randint(-10, 10), high + random.randint(-8, 10))
        if close > high:
            high = close

        all_companies.append(
            Stocks(name=name, symbol=get_capitalized_letters(name), open=open_, high=round(high, 2), close=round(close, 2), company_weight=round(random.uniform(15, 80), 3)))

    stock_index = round(sum(x.open * x.company_weight for x in all_companies), 4)
    highest_for_day = round(max(x.high * x.company_weight for x in all_companies), 2)
    lowest_close_for_day = round(min(x.close * x.company_weight for x in all_companies), 2)

    print(f"\n------------------------------------Top 100 listed companies on TSAI Stock Exchange------------------------------------")
    [print(x) for x in sorted(all_companies, key=lambda x:x.symbol)]
    print(f"\n--------------Main details on {date.today()}--------------")
    print(f"\nStock Index: {stock_index}")
    print(f"Highest for the day: {highest_for_day}")
    print(f"Lowest close for the day: {lowest_close_for_day}")


stock_market()

------------------------------------Top 100 listed companies on TSAI Stock Exchange------------------------------------
Stocks(name='Adkins-Kim', symbol='AK', open=994.87, high=1002.15, close=1002.15, company_weight=18.633)
Stocks(name='Allen Ltd', symbol='AL', open=3769.88, high=3776.68, close=3776.68, company_weight=57.105)
Stocks(name='Ashley-Manning', symbol='AM', open=1478.99, high=1597.31, close=1473.32, company_weight=62.12)
Stocks(name='Booker-Burke', symbol='BB', open=3327.59, high=3331.4, close=3331.4, company_weight=26.59)
Stocks(name='Barajas-Cruz', symbol='BC', open=3324.65, high=3328.57, close=3328.57, company_weight=46.908)
Stocks(name='Blankenship, Castillo and Coleman', symbol='BCC', open=907.88, high=1189.32, close=934.78, company_weight=79.557)
Stocks(name='Bell Group', symbol='BG', open=2859.89, high=2859.89, close=2854.77, company_weight=54.608)
Stocks(name='Brown, Hall and Stout', symbol='BHS', open=761.64, high=761.64, close=760.87, company_weight=21.617)
Stocks(name='Blackburn Inc', symbol='BI', open=3750.08, high=5212.61, close=4144.03, company_weight=21.207)
Stocks(name='Bryant Ltd', symbol='BL', open=3460.87, high=3772.35, close=3483.23, company_weight=64.082)
Stocks(name='Brown, Leblanc and Rogers', symbol='BLR', open=1302.77, high=1302.77, close=1302.12, company_weight=33.247)
Stocks(name='Black-Peterson', symbol='BP', open=3642.56, high=3642.63, close=3642.63, company_weight=63.894)
Stocks(name='Berry PLC', symbol='BPLC', open=3398.35, high=4247.94, close=3680.19, company_weight=79.888)
Stocks(name='Bush PLC', symbol='BPLC', open=2561.84, high=2568.72, close=2568.72, company_weight=28.697)
Stocks(name='Berger PLC', symbol='BPLC', open=1219.86, high=1221.66, close=1221.66, company_weight=66.116)
Stocks(name='Burke and Sons', symbol='BS', open=1498.63, high=1633.51, close=1591.43, company_weight=67.665)
Stocks(name='Barrett, Stephens and Brooks', symbol='BSB', open=3315.54, high=3912.34, close=3765.51, company_weight=38.19)
Stocks(name='Christian Group', symbol='CG', open=3725.36, high=3725.36, close=3718.55, company_weight=71.956)
Stocks(name='Conway Inc', symbol='CI', open=216.51, high=218.87, close=218.87, company_weight=42.307)
Stocks(name='Caldwell Ltd', symbol='CL', open=195.32, high=244.15, close=241.39, company_weight=30.883)
Stocks(name='Cuevas Ltd', symbol='CL', open=645.75, high=749.07, close=655.1, company_weight=47.363)
Stocks(name='Carter-Miranda', symbol='CM', open=3070.43, high=3745.92, close=3698.54, company_weight=32.669)
Stocks(name='Castaneda, Parker and Miller', symbol='CPM', open=552.17, high=555.74, close=555.74, company_weight=62.364)
Stocks(name='Castro and Sons', symbol='CS', open=579.79, high=579.79, close=574.98, company_weight=24.912)
Stocks(name='Clark, Tapia and Malone', symbol='CTM', open=1029.13, high=1152.63, close=1097.62, company_weight=39.19)
Stocks(name='Diaz-Green', symbol='DG', open=3959.28, high=5186.66, close=5119.4, company_weight=40.15)
Stocks(name='Davis Group', symbol='DG', open=3911.13, high=4888.91, close=3933.43, company_weight=52.756)
Stocks(name='Duncan-Williams', symbol='DW', open=2621.22, high=2621.22, close=2621.19, company_weight=62.789)
Stocks(name='Edwards-Ryan', symbol='ER', open=1708.83, high=1708.83, close=1707.83, company_weight=50.039)
Stocks(name='Ferrell Group', symbol='FG', open=3410.66, high=3410.66, close=3402.87, company_weight=75.721)
Stocks(name='Frye, Garza and Jensen', symbol='FGJ', open=2459.69, high=2459.69, close=2457.7, company_weight=16.774)
Stocks(name='Ferrell, Nelson and Morgan', symbol='FNM', open=2422.96, high=2859.09, close=2684.57, company_weight=75.756)
Stocks(name='Flores-Stevens', symbol='FS', open=1320.42, high=1795.77, close=1716.12, company_weight=34.607)
Stocks(name='Gonzalez-Gill', symbol='GG', open=1753.73, high=2069.4, close=1780.51, company_weight=22.608)
Stocks(name='Gomez-Ingram', symbol='GI', open=2513.31, high=2513.31, close=2511.82, company_weight=35.905)
Stocks(name='Gordon LLC', symbol='GLLC', open=1853.68, high=1860.57, close=1860.57, company_weight=27.274)
Stocks(name='Galvan-Powers', symbol='GP', open=88.47, high=105.28, close=92.02, company_weight=27.089)
Stocks(name='Hancock-Browning', symbol='HB', open=51.73, high=62.08, close=57.16, company_weight=21.424)
Stocks(name='Hawkins-Curtis', symbol='HC', open=499.07, high=499.52, close=499.52, company_weight=32.547)
Stocks(name='Humphrey-Howard', symbol='HH', open=1201.77, high=1201.77, close=1198.19, company_weight=54.673)
Stocks(name='Hill Inc', symbol='HI', open=727.57, high=730.34, close=730.34, company_weight=28.918)
Stocks(name='Harrison LLC', symbol='HLLC', open=1957.07, high=1957.07, close=1951.96, company_weight=76.288)
Stocks(name='Hart LLC', symbol='HLLC', open=3146.17, high=3146.95, close=3146.95, company_weight=63.14)
Stocks(name='Hernandez-Mendez', symbol='HM', open=2375.76, high=3159.76, close=2935.8, company_weight=65.195)
Stocks(name='Harris PLC', symbol='HPLC', open=3010.04, high=3013.52, close=3013.52, company_weight=24.917)
Stocks(name='Horton PLC', symbol='HPLC', open=1696.85, high=1702.73, close=1702.73, company_weight=57.024)
Stocks(name='Hall PLC', symbol='HPLC', open=2143.7, high=2486.69, close=2255.19, company_weight=58.269)
Stocks(name='Howard-Scott', symbol='HS', open=3877.2, high=3877.82, close=3877.82, company_weight=33.023)
Stocks(name='Jordan-Butler', symbol='JB', open=1028.43, high=1182.69, close=1098.15, company_weight=52.815)
Stocks(name='Johnson, Brown and Gomez', symbol='JBG', open=143.83, high=150.36, close=150.36, company_weight=43.757)
Stocks(name='Jones-Curry', symbol='JC', open=3229.07, high=3235.04, close=3235.04, company_weight=28.641)
Stocks(name='Jones, Hernandez and Adams', symbol='JHA', open=762.01, high=1005.85, close=954.72, company_weight=33.864)
Stocks(name='Johnson, Vance and Baker', symbol='JVB', open=955.89, high=962.69, close=962.69, company_weight=33.906)
Stocks(name='King-Adams', symbol='KA', open=1932.79, high=1937.56, close=1937.56, company_weight=66.165)
Stocks(name='King, Curtis and Savage', symbol='KCS', open=1365.26, high=1761.19, close=1624.97, company_weight=22.333)
Stocks(name='King Inc', symbol='KI', open=2874.31, high=2903.05, close=2893.71, company_weight=78.536)
Stocks(name='King Inc', symbol='KI', open=3464.34, high=3471.88, close=3471.88, company_weight=60.997)
Stocks(name='Klein-Sanchez', symbol='KS', open=3444.01, high=3447.49, close=3447.49, company_weight=49.366)
Stocks(name='Lewis, Clark and Jones', symbol='LCJ', open=1910.12, high=1986.52, close=1971.82, company_weight=25.215)
Stocks(name='Lawson-Harrington', symbol='LH', open=973.54, high=978.69, close=978.69, company_weight=50.586)
Stocks(name='Lynch LLC', symbol='LLLC', open=1052.86, high=1063.39, close=1062.28, company_weight=38.229)
Stocks(name='Macias, Crosby and White', symbol='MCW', open=1571.48, high=1573.8, close=1573.8, company_weight=79.959)
Stocks(name='Mathis, Herring and Colon', symbol='MHC', open=201.09, high=255.38, close=229.49, company_weight=74.228)
Stocks(name='Miller Ltd', symbol='ML', open=494.38, high=500.01, close=500.01, company_weight=16.234)
Stocks(name='Matthews PLC', symbol='MPLC', open=3280.5, high=4231.85, close=3352.78, company_weight=40.783)
Stocks(name='Morton-Scott', symbol='MS', open=2321.36, high=2325.35, close=2325.35, company_weight=17.758)
Stocks(name='Morales and Sons', symbol='MS', open=2861.43, high=2865.6, close=2865.6, company_weight=40.253)
Stocks(name='Merritt-Sutton', symbol='MS', open=3545.11, high=3548.66, close=3548.66, company_weight=46.511)
Stocks(name='Mullins, Vance and Snyder', symbol='MVS', open=135.34, high=161.05, close=154.93, company_weight=29.609)
Stocks(name='Mcdowell-Wilson', symbol='MW', open=3004.99, high=3004.99, close=3002.66, company_weight=51.087)
Stocks(name='Nolan-Jordan', symbol='NJ', open=3983.57, high=4342.09, close=4010.91, company_weight=21.027)
Stocks(name='Orr and Sons', symbol='OS', open=324.16, high=418.17, close=345.97, company_weight=66.578)
Stocks(name='Phillips, Cruz and Campos', symbol='PCC', open=3249.85, high=3672.33, close=3594.91, company_weight=52.918)
Stocks(name='Powell, Martinez and Lopez', symbol='PML', open=1459.95, high=1664.34, close=1461.31, company_weight=70.876)
Stocks(name='Peterson, Martinez and Phillips', symbol='PMP', open=83.85, high=87.2, close=79.06, company_weight=27.831)
Stocks(name='Perry PLC', symbol='PPLC', open=2267.29, high=2289.96, close=2281.84, company_weight=21.526)
Stocks(name='Price and Sons', symbol='PS', open=2406.97, high=2411.12, close=2411.12, company_weight=44.743)
Stocks(name='Powell and Sons', symbol='PS', open=2201.28, high=2201.28, close=2200.58, company_weight=31.418)
Stocks(name='Robinson-Barr', symbol='RB', open=3888.99, high=3888.99, close=3888.3, company_weight=26.36)
Stocks(name='Russo Ltd', symbol='RL', open=3024.54, high=3033.54, close=3033.54, company_weight=52.377)
Stocks(name='Richard PLC', symbol='RPLC', open=947.74, high=1326.84, close=1101.71, company_weight=65.423)
Stocks(name='Ross PLC', symbol='RPLC', open=1583.83, high=1710.54, close=1588.95, company_weight=56.433)
Stocks(name='Rogers-Shaw', symbol='RS', open=3854.55, high=3854.55, close=3849.32, company_weight=23.707)
Stocks(name='Reyes and Sons', symbol='RS', open=377.51, high=449.24, close=427.43, company_weight=52.523)
Stocks(name='Sims-Cortez', symbol='SC', open=1449.27, high=1623.18, close=1526.44, company_weight=41.457)
Stocks(name='Smith Inc', symbol='SI', open=364.13, high=364.13, close=363.7, company_weight=66.491)
Stocks(name='Smith Inc', symbol='SI', open=3608.06, high=3612.02, close=3612.02, company_weight=36.677)
Stocks(name='Shelton LLC', symbol='SLLC', open=509.26, high=636.58, close=554.7, company_weight=59.016)
Stocks(name='Smith LLC', symbol='SLLC', open=1515.29, high=1681.97, close=1657.28, company_weight=77.002)
Stocks(name='Stevenson, Miller and Fernandez', symbol='SMF', open=2979.38, high=3426.29, close=3026.54, company_weight=15.483)
Stocks(name='Schultz, Mora and Harris', symbol='SMH', open=1597.37, high=1601.23, close=1601.23, company_weight=67.501)
Stocks(name='Steele and Sons', symbol='SS', open=1896.83, high=2617.63, close=1988.31, company_weight=21.419)
Stocks(name='Smith-Winters', symbol='SW', open=3326.14, high=4091.15, close=3938.56, company_weight=36.94)
Stocks(name='Thomas-Williams', symbol='TW', open=1519.17, high=1914.15, close=1883.61, company_weight=51.725)
Stocks(name='White-Fisher', symbol='WF', open=2094.66, high=2325.07, close=2145.34, company_weight=55.41)
Stocks(name='Walter Ltd', symbol='WL', open=3276.98, high=4391.15, close=4074.09, company_weight=63.635)
Stocks(name='Walton Ltd', symbol='WL', open=1369.89, high=1726.06, close=1534.04, company_weight=45.753)
Stocks(name='Winters, Neal and Wallace', symbol='WNW', open=2317.08, high=2989.03, close=2616.58, company_weight=70.449)
Stocks(name='Waters and Sons', symbol='WS', open=3696.15, high=4324.5, close=4194.45, company_weight=75.941)
Stocks(name='Young-Thornton', symbol='YT', open=3448.45, high=3451.66, close=3451.66, company_weight=60.218)

--------------Main details on 2021-07-09--------------

Stock Index: 9714212.0999
Highest for the day: 339359.43
Lowest close for the day: 1224.6